/* static/css/style.css */
.odd { background-color: #f8f9fa !important; }
.even { background-color: #fff !important; }
.product-group-1 { background-color: #E8F5E9 !important; }
.product-group-2 { background-color: #F3E5F5 !important; }